@font-face {
    font-family: 'Soviet';
        src: url('../fonts/SovietFont.ttf');
        font-weight: normal;
        font-style: normal;
}
@font-face {
    font-family: 'TT';
        src: url('../fonts/TT Commons-Trial/TT Commons-Trial-Regular.otf');
        font-weight: normal;
        font-style: normal;
}

@font-face {
    font-family: 'TT';
        src: url('../fonts/TT Commons-Trial/TT Commons-Trial-Bold Italic.otf');
        font-weight: bold;
        font-style: italic;
}


@font-face {
    font-family: 'TT';
        src: url('../fonts/TT Commons-Trial/TT Commons-Trial-Italic.otf');
        font-weight: normal;
        font-style: italic;
}

// @font-face {
//     font-family: 'TT';
//         src: url('../fonts/');
//         font-weight: ;
//         font-style: ;
// }
// @font-face {
//     font-family: 'TT';
//         src: url('../fonts/');
//         font-weight: ;
//         font-style: ;
// }
// @font-face {
//     font-family: 'TT';
//         src: url('../fonts/');
//         font-weight: ;
//         font-style: ;
// }
// @font-face {
//     font-family: 'TT';
//         src: url('../fonts/');
//         font-weight: ;
//         font-style: ;
// }