.preview{
    height: 80rem;
    position: relative;
    padding-top: $heightHeader;
    @include bp($md){
        height: auto;
    }
    .preview__content{
        height: 80rem - $heightHeader;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        position: relative;
        .preview__description{
            margin-bottom: 0.5rem;
        }
        .preview__name{
            margin-bottom: 5rem;
            @include bp($md){
                margin-bottom: 3rem;
            }
        }
        @include bp($md){
            justify-content: flex-start;
            align-items: center;
            margin-top: 4rem;
            height: auto;  
            padding-bottom: 35rem;
        }
    }
    .preview__picture{
        position: absolute;
        z-index: 20;
        right: 0;
        
        
        background-color: transparent;
        @media (min-width: $md) {
            top: 0;
        }
        @include bp($md){
            width: 100%;
            bottom: 0;
            
            
        }
    }
    .preview__bgground{
        font-size: 0;
        color: transparent;
        position: absolute;
        z-index: 1;
        right: 0rem;
        top: 0;
        border-bottom: 80rem solid $red;
        border-left: 10rem solid transparent;
        height: 0;
        width: 32%;  
        @include bp($md){
            display: none;
        }

    }
    .preview__bgground_mobile{
        font-size: 0;
        display: none;

        position: absolute;
        z-index: 1;
        right: 25rem;
        bottom: -35rem;
        border-bottom: 80rem solid $red;
        border-left: 10rem solid transparent;
        height: 0;
        width: 18rem;  
        color: $red;
        transform: rotate(90deg);
        @include bp($md){
            display: block;
        }

    }
}