<!-- Header -->
<header class="header">
    <div class="container header__container">

        <a class="header__link" href="">
            <svg class="header__logo" >
                <use xlink:href="#logo"></use>
            </svg>
        </a>

        <ul class="nav">
            <li class="nav__item">
                <a href="" class="nav__link bodyTextStyle">
                    Преимущества
                </a>
            </li>
            <li class="nav__item">
                <a href="" class="bodyTextStyle nav__link bodyTextStyle">
                    Видео
                </a>
            </li>
            <li class="nav__item">
                <a href="" class="nav__link bodyTextStyle">
                    Контакты
                </a>
            </li>
        </ul>
        <div class="burger" id="burger">
            <span class="burger__element">burger</span>
        </div>
    </div>
</header>

<!-- /Header -->
